---
import BaseLayout from '../layouts/BaseLayout.astro';
import Skill from '../components/Skill.astro';
import JobTimeline from '../components/JobTimeline.astro';

const SKILLS: Skill[] = [
	{
		name: "TailwindCSS",
		iconurl: "/tailwindcss.svg"
	},
	{
		name: "JavaScript",
		iconurl: "/javascriptmn.png"
	},
	{
		name: "HTML5",
		iconurl: "/HTML5.svg"
	},
	{
		name: "CSS3",
		iconurl: "/CSS3.svg"
	},
	{
		name: "Bootstrap",
		iconurl: "/Bootstrap.svg"
	},
	{
		name: "Git",
		iconurl: "/Git.svg"
	},
	{
		name: "Python",
		iconurl: "/Python.svg"
	},
	{
		name: "Excel",
		iconurl: "/Excel.png"
	},
	{
		name: "PowerBI",
		iconurl: "/Power_BI.svg"
	},
	{
		name: "Tableau",
		iconurl: "/Tableau.png"
	},
	{
		name: "SQL",
		iconurl: "/sql.svg"
	},
	{
		name: "Astro",
		iconurl: "/Astro.svg"
	},
];
---

<BaseLayout>
  <header class="h-dvh bg-cover bg-center flex flex-col justify-center items-center mt-12">
    <div id="Start" class="space-y-4">
      <h3 class="dark:text-blue-400 italic text-4xl font-serif font-semibold" style="text-shadow: 4px 4px 8px rgba(0,0,0,0.7);">
        Ingeniero de sistemas
        <span class="text-white italic text-4xl font-serif font-semibold" style="text-shadow: 4px 4px 8px rgba(0,0,0,0.7);">
          • Analista de datos
        </span>
      </h3>
      <h4 class="text-white text-2xl font-semibold">
        De los datos al conocimiento, de la tecnología a la transformación.
      </h4>
    </div>
  </header>

  <main>
    <section class="w-full pt-8 px-6 md:px-20 shadow-xl py-4 lg:py-8">
      <article class="mb-6 text-center">
        <h3 class="text-center text-2xl md:text-3xl font-semibold tracking-wide dark:text-white relative inline-block mt-2">
          Habilidades Profesionales
        </h3>
      </article>

      <div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 gap-6 justify-items-center mt-6">
        {SKILLS.map(skill => <Skill skill={skill} />)}
      </div>

      <article class="mt-8 text-center">
        <h3 class="text-center text-2xl md:text-3xl font-semibold tracking-wide dark:text-white relative inline-block mt-2">
          Experiencia Laboral
        </h3>
        <JobTimeline />
      </article>
    </section>
  </main>
</BaseLayout>




