---
import BaseLayout from '../layouts/BaseLayout.astro';
import Skill from '../components/Skill.astro';
import JobTimeline from '../components/JobTimeline.astro';

const SKILLS: Skill[] = [
	{
		name: "TailwindCSS",
		iconurl: "/tailwindcss.svg"
	},
	{
		name: "JavaScript",
		iconurl: "/javascriptmn.png"
	},
	{
		name: "HTML5",
		iconurl: "/HTML5.svg"
	},
	{
		name: "CSS3",
		iconurl: "/CSS3.svg"
	},
	{
		name: "Bootstrap",
		iconurl: "/Bootstrap.svg"
	},
	{
		name: "Git",
		iconurl: "/Git.svg"
	},
	{
		name: "Python",
		iconurl: "/Python.svg"
	},
	{
		name: "Excel",
		iconurl: "/Excel.png"
	},
	{
		name: "PowerBI",
		iconurl: "/Power_BI.svg"
	},
	{
		name: "Tableau",
		iconurl: "/Tableau.png"
	},
	{
		name: "MySQL",
		iconurl: "/MySQL.svg"
	},
	{
		name: "Astro",
		iconurl: "/Astro.svg"
	},
	{
		name: "Cloudflare",
		iconurl: "/Cloudflare.svg"
	},
	{
		name: "LaTex",
		iconurl: "/LaTex.svg"
	},
	{
		name: "Qgis",
		iconurl: "/Qgis.png"
	},
	{
		name: "PostgreSQL",
		iconurl: "/PostgreSQL.svg"
	},
];
---

<BaseLayout>
  <header class="h-dvh bg-cover bg-center flex flex-col justify-center items-center mt-12">
    <div id="Start" class="space-y-4">
      <h3 class="dark:text-green-600 italic text-3xl md:text-4xl font-serif font-semibold" style="text-shadow: 4px 4px 8px rgba(0,0,0,0.7);">
        Ingeniero de sistemas
        <span class="text-white italic text-3xl md:text-4xl font-serif font-semibold" style="text-shadow: 4px 4px 8px rgba(0,0,0,0.7);">
          • Analista de datos
        </span>
      </h3>
      <h4 class="text-white text-xl md:text-2xl font-semibold tracking-wide">
        De los datos al conocimiento, de la tecnología a la transformación.
      </h4>
    </div>
  </header>

  <main>
    <section class="w-full px-6 md:px-20 py-4 lg:py-8">
      <article class="text-center">
        <h3 class="text-center text-4xl font-light tracking-wide text-white relative inline-block">
          Habilidades Profesionales
        </h3>
      </article>

      <div class="grid grid-cols-2 md:grid-cols-4 gap-4 justify-items-center mt-12">
        {SKILLS.map(skill => <Skill skill={skill} />)}
      </div>

      <article class="mt-10 text-center">
        <h3 class="text-center text-4xl font-light tracking-wide text-white relative inline-block mt-4">
          Experiencia Laboral
        </h3>
		<div class="mt-6">
			<JobTimeline />
		</div>
      </article>
    </section>
  </main>
</BaseLayout>




