---
import BaseLayout from '../layouts/BaseLayout.astro';
import Project from "../components/Project.astro";

const PROJECTS: Project[] = [
	{
		title: "Bot_Peliculas_IMDB",
		urLImg: "/Bot_Peliculas_Telegram.png",
		description: "Bot de Telegram desarrollado utilizando la API de OMDB (Open Movie Database), que permite obtener información detallada sobre películas.",
		link: "https://github.com/Edwinburgos99/Bot_Peliculas_IMDB",
		usedSkills: [
			{
				name: "Python",
				iconurl: "/Python.svg"
			},
		],
		categories: ["Personal", "Backend", "Automatización / Bots"],
	},
	{
		title: "Concierto",
		urLImg: "/Ubicacion_Optima_Concierto.png",
		description: "Ubicación optima de un concierto, basado en coordenadas de ciudades que siempre deben tener 2 posiciones enteras.",
		link: "https://github.com/Edwinburgos99/Concierto",
		usedSkills: [
			{
				name: "Python",
				iconurl: "/Python.svg"
			},
		],
		categories: ["Personal", "Algoritmos", "Backend"],
	},
	{
		title: "Angeles_del_Rio",
		urLImg: "/Dashboard.png",
		description: "El Proyecto consiste en el procesamiento y análisis de datos crudos, implementando dashboards dinámicos en Excel y Power BI para la visualización interactiva de la información.",
		link: "https://github.com/Edwinburgos99/Angeles_del_Rio",
		usedSkills: [
			{
				name: "PowerBI",
				iconurl: "/Power_BI.svg"
			},
			{
				name: "Excel",
				iconurl: "/Excel.png"
			},
		],
		categories: ["Empresa", "Análisis de datos"],
	},
	{
		title: "Opencv",
		urLImg: "/Reconocimiento_autos.png",
		description: "Repositorio de proyectos hechos con la librería OpenCV, que implementan algoritmos para el reconocimiento de rostros, detección de ojos y detección de automóviles.",
		link: "https://github.com/Edwinburgos99/Opencv",
		usedSkills: [
			{
				name: "Python",
				iconurl: "/Python.svg"
			},
		],
		categories: ["Personal", "IA / Visión por computadora"],
	},
	{
		title: "Bot_Musica_Youtube",
		urLImg: "/Bot_Peliculas_Telegram.png",
		description: "Bot de telegram creado en base a la API de YouTube data para la búsqueda de canciones en base a un título o autor.",
		link: "https://github.com/Edwinburgos99/Bot_Musica_Youtube",
		usedSkills: [
			{
				name: "Python",
				iconurl: "/Python.svg"
			},
		],
		categories: ["Personal", "Backend", "Automatización / Bots"],
	},
	{
		title: "Analisys_Data",
		urLImg: "/Bot_Peliculas_Telegram.png",
		description: "Transformación de datos crudos de Kaggle por medio del lenguaje Python e informes dinámicos usando softwares de negocios (Power BI, Excel).",
		link: "https://github.com/Edwinburgos99/Analisys_Data",
		usedSkills: [
			{
				name: "Python",
				iconurl: "/Python.svg"
			},
			{
				name: "PowerBI",
				iconurl: "/Power_BI.svg"
			},
			{
				name: "Excel",
				iconurl: "/Excel.png"
			},
		],
		categories: ["Personal", "Análisis de Datos"],
	},
];
---

<BaseLayout>
	<section id="Projects" class="w-full px-6 md:px-20 shadow-xl py-4 mt-24">
		<div class="flex justify-center">
			<h3 class="text-center text-2xl md:text-3xl font-bold tracking-wide dark:text-white relative inline-block mb-8">Proyectos</h3>
		</div>
		<div class="w-full grid place-content-center gap-8">
			{
			PROJECTS.map((project, index) => <Project project={project} index={index}/>)
			}
		</div>
	</section>
</BaseLayout>
