---
interface Props {
    title: string;
    href: string;
}

const {href, title} = Astro.props;
---
<li>
    <a href={href} class="block px-3 py-2 rounded-lg text-white text-2xl italic font-light tracking-wide hover:bg-gray-700 transition">{title}</a>
</li>