---
import "../styles/global.css";
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Portafolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="/Astro.svg" />
  </head>
  <body class="w-full bg-black relative flex flex-col min-h-screen">

    <!-- Fondo radial global -->
    <div class="absolute inset-0 -z-10 pointer-events-none" 
    style ="background: linear-gradient(180deg, #1e3a8a 0%, #000000 100%);">
    </div>

    <!-- Navbar siempre visible -->
    <Navbar />

    <!-- Contenido específico de la página -->
    <main class="relative z-10 flex-1">
      <slot />
    </main>

    <Footer />

    <script src="https://unpkg.com/flowbite@latest/dist/flowbite.min.js"></script>
  </body>
</html>